@CHARSET "UTF-8";

.upload form {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.upload form input {
	width: 100%;
}

.upload {
	position: relative;
	width: 80px;
	height: 18px;
	line-height: 18px;
	background: #2fc7c9;
	text-align: center;
	color: #FFF;
	padding: 0px 5px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 0 auto;
	display: inline
}